# .NET Core
bin/
obj/

# Visual Studio
.vscode/
.vs
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
.nuget/

# Rider
.idea/
*.sln.iml

# OS Files
[Tt]humbs.db
*.DS_Store

# Frontend
node_modules/
dist/
.vite/

